<style>
  body {

  font-family: helvetica;
}

  form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 50%;
    /* To see the outline of the form */
    padding: 1em;
    border: 3px solid #a5e497;
    border-radius: 3%;
    background-color:#fff;
    font-family: helvetica;
  }


  form div + div {
    margin-top: 1em;
  }

  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 30%;
    text-align: right;
    font-family: helvetica;
    color:green;
  }

  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em helvetica;
    color: green;

    /* To give the same size to all text fields */
    width:30%;
    box-sizing: border-box;


    /* To harmonize the look & feel of text field border */
    border: 3px solid #ffe497;
    border-radius: 3%;
  }



  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #d2e4bb;
    color: green;
  }


  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
  }
  .form-label {
      text-align:left;
      width: 20%
    }

    .checkbox-input {
      width:10%;
    }

    .flex-container {
      display:flex;
      align-items: center;
      justify-content: center;

    }

    .flex-child{
      width:100%;
      text-align: center;
    }


    .flex-child{
      width:100%;
      text-align: center;
    }

  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */

  position:relative;
    left:27%;
    background-color: white;
    color: green;
    border: 3px solid #ffe497;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
  }


  .topnav li {
      display: inline;
    }

  .icons img {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 100px;
    margin: 0 auto;
    border-radius: 200px;
    float: left;

  }

  .options h2 {
    display: inline-block;
    padding-left: 150px;
    padding-right: 100px;
    text-align: center;

  }

  .intro h1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topnav li {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-color: #black;
  }

  .topnav li a{
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: helvetica;
  }

  .topnav ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
  }

/*this is to style the button when it has been clicked*/
.active {
  background-color: #a5e497;
  color: white;
  border-left-style: groove;
  box-decoration-break: clone;

}

.topnav li a:hover {
  background-color: #a5e497;

}

.topnav img {
  padding-top: 0;
  display: inline-block;
}

/* Style for the about page */
.container {
   position: relative;
   text-align: center;
}

.text-block {
  position: absolute;
  bottom: 110px;
  right: 100px;
  background-color: none;
  color: white;
}

@media screen and (min-width: 601px) {
  .text-block {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
   .text-block{
     font-size: 30px;
   }

}
/* h1 {
  text-decoration: underline;
} */

=======

.container h2{
  position: absolute;
  display: flex;
  justify-content: center;
}

/* Style for the overlay images with text */
{box-sizing: border-box;}

.container2 img{
  position: relative;
  display: flex;
  justify-content:center;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
  border-radius: 200px;
  float: left;
}

.image_Bianca {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: fixed;
  bottom: 50;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 20%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 25px;
  padding: 30px;
  margin: inherit;
  border-radius: 200px;
  text-align: center;
}

.container2:hover .overlay {
  opacity: 2;
}

.container3 img{
  position: relative;
  display: flex;
  justify-content:center;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
  border-radius: 200px;
  float: left;
}


/*image 1 overlay*/
.lifehack {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a5e497;
}

.lifehack:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*image 2 overlay*/
.getintouch {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a5e497;
}

.getintouch:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*image 3 overlay*/
.procrastinate {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a5e497;
}

.procrastinate:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 33.33%;
  padding: 2px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}


    </style>
