<style>
  body {
  color: #ffffe6;
  font-family: helvetica;
}

  form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 50%;
    /* To see the outline of the form */
    padding: 1em;
    border: 3px solid #a5e497;
    border-radius: 1em;
    background-color:#fff;
    font-family: helvetica;
  }

  form div + div {
    margin-top: 1em;
  }

  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: helvetica;
  }

  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em helvetica
  ;

    /* To give the same size to all text fields */
    width: 60%;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }

  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }

  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
  }

  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    background-color: #ffe497;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
