<style>
  body {
  color: #ffffe6;
  font-family: helvetica;
}

  form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 50%;
    /* To see the outline of the form */
    padding: 1em;
    border: 3px solid #a5e497;
    border-radius: 3%;
    background-color:#fff;
    font-family: helvetica;
  }

  form div + div {
    margin-top: 1em;
  }

  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: helvetica;
    color:green;
  }

  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 16 px helvetica;
    color: green;

    /* To give the same size to all text fields */
    width: 60%;
    box-sizing: border-box;


    /* To harmonize the look & feel of text field border */
    border: 3px solid #ffe497;
    border-radius: 3%;
  }

  .checkboxes input{
 margin: 0 5px 0 20px;
}

    .checkboxes {
      text-align:center;
     }

  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #d2e4bb;
    color: green;
  }


  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
  }

  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    background-color: white;
    color: green;
    border: 3px solid #ffe497;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


    .topnav li {
      display: inline;
    }

  .icons img {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 100px;
    margin: 0 auto;
    border-radius: 200px;
    float: left;

  }

  .options h2 {
    display: inline-block;
    padding-left: 150px;
    padding-right: 100px;
    text-align: center;

  }

  .intro h1 {
    display: flex;
    justify-content: center;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topnav li {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-color: #black;
  }

  .topnav li a{
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: helvetica;
  }

  .topnav ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
  }

.active {
  background-color: #a5e497;
  color: white;
  border-left-style: groove;
  box-decoration-break: clone;

}

.topnav li a:hover {
  background-color: #a5e497;

}

.topnav img {
  padding-top: 0;
  display: inline-block;
}
    </style>
