<style>
  body {
  background-color: #f9ffe5;
}

  form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 50%;
    /* To see the outline of the form */
    padding: 1em;
    border: 3px solid #a5e497;
    border-radius: 1em;
    background-color:#ffffe6;
  }

  form div + div {
    margin-top: 1em;
  }

  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: helvetica;
    color-background: #a5e497;

  }

  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text fields */
    width: 60%;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }

  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }

  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
  }

  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .topnav li {
    display: inline;
  }

.icons img {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 100px;
  margin: 0 auto;
  border-radius: 200px;
  float: left;

}

.options h2 {
  display: inline-block;
  padding-left: 150px;
  padding-right: 100px;
  text-align: center;

}

.intro h1 {
  display: flex;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  </style>
